<% config = node[:wordpress][:config] %>

<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/documentation/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '<%= config[:db_name] %>' );

/** Database username */
define( 'DB_USER', '<%= config[:db_user] %>' );

/** Database password */
define( 'DB_PASSWORD', '<%= @passwords["db_password"] %>' );

/** Database hostname */
define( 'DB_HOST', '<%= config[:db_host] %>' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using

 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '<%= @passwords["wp_auth_key"] %>' );
define( 'SECURE_AUTH_KEY',  '<%= @passwords["wp_secure_auth_key"] %>' );
define( 'LOGGED_IN_KEY',    '<%= @passwords["wp_logged_in_key"] %>' );
define( 'NONCE_KEY',        '<%= @passwords["wp_nonce_key"] %>' );
define( 'AUTH_SALT',        '<%= @passwords["wp_auth_salt"] %>' );
define( 'SECURE_AUTH_SALT', '<%= @passwords["wp_secure_auth_salt"] %>' );
define( 'LOGGED_IN_SALT',   '<%= @passwords["wp_logged_in_salt"] %>' );
define( 'NONCE_SALT',       '<%= @passwords["wp_nonce_salt"] %>' );

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/documentation/article/debugging-in-wordpress/
 */
define('WP_DEBUG_DISPLAY', false);
define('WP_DEBUG_LOG', true);

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
        define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
