<% @users.each_with_index do |user, i| %>
DROP USER '<%= user["user"] %>';
CREATE USER '<%= user["user"] %>'@'%' IDENTIFIED BY '<%= @passwords[i] %>';
GRANT <%= user["action"] %> ON <%= user["db"] %> TO '<%= user["user"] %>'@'%';
<% end %>
FLUSH PRIVILEGES;